/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  max-width: 1920px;
  margin: auto;
}

.button {
  text-transform: uppercase;
  position: relative;
}

.button::before {
  content: "";
  height: 32px;
  width: 2px;
  background-color: #fff;
  position: absolute;
  left: -1.5em;
  bottom: -0.5em;
}

.button::after {
  content: "";
  height: 32px;
  width: 2px;
  background-color: #fff;
  position: absolute;
  right: -1.5em;
  bottom: -0.5em;
}

.black {
  color: #000;
}

.black::after,
.black::before {
  background-color: #000;
}

.section__header {
  cursor: pointer;
  height: 107px;
  text-transform: uppercase;
  border: 8px solid #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 98px;
  text-align: center;
  letter-spacing: 0.35538em;
  display: inline-block;
  padding: 0 3em;
  
}

.section__header111 {
  cursor: pointer;
  height: 107px;
  text-transform: uppercase;
  border: 8px solid #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 98px;
  text-align: center;
  letter-spacing: 0.35538em;
  display: inline-block;
  padding: 0 3em;
  margin-bottom: 200px;
  margin-top: -500px;
}

/* Header */

header.header {
  background-color: #0b0b0b;
  height: 66px;
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 6.1rem;
}

.header__nav {
  margin: 0 4rem;
}

.header__nav__link {
  display: inline-block;
  line-height: 46px;
  text-align: center;
  width: 147px;
  height: 46px;
  border-radius: 30px;
}

.header__nav__link + .header__nav__link {
  margin-left: 8px;
}

.header__nav__link:focus {
  background-color: #fff;
  color: #000;
}

/* Designer */

section.designer {
  background-color: rgba(215, 215, 215, 1);
  position: relative;
  display: flex;
  height: 1022px;
  max-width: 1920px;
  margin: auto;
}

.designer__left {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  margin-left: 15%;
  margin-bottom: 250px;
  justify-content: space-between;
}

.designer__left__icons {
  display: flex;
}

.logo {
  width: 53.55px;
  height: 50px;
}

.person {
  position: absolute;
  z-index: 3;
  right: 11%;
  bottom: 0;
}

.box__black {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  clip-path: polygon(52% 0, 100% 0, 100% 100%, 43% 100%);
}

.designer__left__text {
  font-family: "Raleway", sans-serif;
}

.designer__left__text > h3 {
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 3.8rem;
}

.designer__left__text > h2 {
  font-size: 80px;
  line-height: 94px;
}

.designer__left__text > p {
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: #919191;
}

.designer__icon {
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 56px;
}

.designer__icon img {
  display: inline-block;
  width: 70%;
  height: 70%;
}

.designer__icon + .designer__icon {
  margin-left: 31px;
}

.designer__right .designer__nav {
  position: relative;
  z-index: 2;
  top: 65px;
  left: 170px;
}



.section__skill{
  cursor: pointer;
  height: 107px;
  text-transform: uppercase;
  border: 8px solid #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 98px;
  text-align: center;
  letter-spacing: 0.35538em;
  display: inline-block;
  padding: 0 3em;
  margin-bottom: 5%;
  margin-left: 40%;
  margin-top: 5%;

}

.portoto{
  background: url(../assets/img/image\ 12.png) no-repeat 0 0;
  width: 1920px;
  height: 321px;
}

.section__portfolio{
  cursor: pointer;
  height: 107px;
  text-transform: uppercase;
  border: 8px solid #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 98px;
  text-align: center;
  letter-spacing: 0.35538em;
  display: inline-block;
  padding: 0 3em;
  margin-left: 37%;
  margin-top: 100px;

}


.icon h4{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
letter-spacing: 0.18538em;
margin-left:30%;
margin-bottom: 5%;
}

.icon1{
  display: grid;
  margin-bottom: 5%;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left: 30%;
}

.icon2{
  display: grid;
  margin-bottom: 5%;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left: 30%;
}

.icon h5{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
letter-spacing: 0.18538em;
margin-left:30%;
margin-bottom: 5%;
}


.icon3{
  display: grid;
  margin-bottom: 5%;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left: 30%;
}

.icon h6{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
letter-spacing: 0.18538em;
margin-left:30%;
margin-bottom: 5%;
}


.icon4{
  display: grid;
  margin-bottom: 5%;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left: 30%;
}


.page{
  display: grid;
  margin-bottom: 5%;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left: 30%;
  margin-top: -60px;
}



/* Berries */

section.berries {
  overflow: hidden;
  position: relative;
  height: 313px;
  background: linear-gradient(
    90.18deg,
    #1d1d1d 31.74%,
    #1d1d1d 90.49%,
    #1d1d1d 90.49%
  );
  padding-top: 54px;
  color: #fff;
}

.berries__text {
  margin-left: 7%;
  width: 67%;
}

.berries__text h2 {
  text-transform: uppercase;
  line-height: 37px;
  font-size: 30px;
  height: 63px;
  letter-spacing: 0.18538em;
}

.berries__text p {
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 33px;
}


.berries__text .button {
  margin-left: 1.5em;
}

.berries img {
  position: absolute;
  right: 5%;
  bottom: -10%;
  transform: rotate(24deg);
}

/* About me */

.about__about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__about_me .section__header {
  margin-top: 142px;
  margin-bottom: 71px;
}

.about__about_me11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;  
}

.about__about_me p {
  width: 48%;
  text-align: center;
  margin-bottom: 67px;
}

.about__about_me .button {
  margin-bottom: 85px;
}

.about__about_me .separator {
  margin-bottom: 108px;
}

.about__development {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 178px;
  width: 50%;
  column-gap: 119px;
  margin: auto;
}

.about__development .sep{
  margin-left: 360px;
  margin-top: 140px;
}

.card {
  position: relative;
  max-width: 431px;
}

.card:nth-child(3) {
  grid-column: 1/3;
  margin: auto;
}

.card h3 {
  text-transform: uppercase;
  height: 74px;
  font-size: 22px;
  line-height: 68px;
  letter-spacing: 0.18538em;
}

.card p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.card img {
  position: absolute;
  top: 0;
  left: -2em;
}

.separator {
  display: block;
  margin: 80px auto 120px auto;
}

/* Projects */
section.projects {
  background-color: #1a1a1a;
  margin-bottom: 600px;
}

section.projects [type="radio"] {
  display: none;
}

section.projects label {
  text-transform: uppercase;
  color: #7c7c7c;
  position: relative;
  width: 201px;
  display: inline-block;
  margin-bottom: 32px;
  margin-top: 32px;
  height: 48px;
  cursor: pointer;
  text-align: center;
}

section.projects label::after {
  content: "";
  width: 105%;
  height: 1px;
  background-color: #7c7c7c;
  position: absolute;
  top: 4rem;
  left: 0;
}

#chbx__all:checked ~ [for="chbx__all"] {
  color: #fff;
}
#chbx__all:checked ~ [for="chbx__all"]::after {
  background-color: #fff;
}

#chbx__coded:checked ~ [for="chbx__coded"] {
  color: #fff;
}
#chbx__coded:checked ~ [for="chbx__coded"]::after {
  background-color: #fff;
}

#chbx__designed:checked ~ [for="chbx__designed"] {
  color: #fff;
}
#chbx__designed:checked ~ [for="chbx__designed"]::after {
  background-color: #fff;
}

[for="chbx__all"] {
  margin-left: 34%;
}

[for="chbx__designed"] {
  margin-right: 20%;
}

section.projects img {
  width: 33%;
}

[id="chbx__coded"]:checked ~ [class="project designed"] {
  display: none;
}

[id="chbx__designed"]:checked ~ [class="project coded"] {
  display: none;
}

[id="chbx__all"]:checked ~ img {
  display: inline-block;
}

/* Contacts */
form {
  display: flex;
  flex-direction: column;
  max-width: 609px;
  margin: auto;
}

form input {
  margin-bottom: 53px;
}

form [type="submit"] {
  margin-top: 62px;
}

form > input[type="text"] {
  height: 48px;
}

form > input[type="text"],
form > textarea {
  background-color: rgba(215, 215, 215, 0.3);
  outline: none;
  padding-left: 14px;
  border: none;
  border-left: 5px solid #000;
  border-bottom: 5px solid #000;
  letter-spacing: 0.04em;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
}

.button_black {
  text-transform: uppercase;
  border: none;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  background-color: rgba(215, 215, 215, 0.3);
  display: inline-block;
  max-width: 197px;
  align-self: center;
  padding: 0 4em;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}


.back-to-top{
  position: sticky;
  left: 40%;
  bottom: 100px;
  color: #000;
  font-size: 20px;
}

.footer {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 70vw;
  height: 400px;
  margin:auto;
  }
  
  .footer__img{
  margin-top: 5%;
  }
  
  .footer__text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  text-align: center;
  letter-spacing: 0.18538em;
  }
  
  .footer__links a:not(:first-of-type) {
  margin-left: 28px;
  }
  
  .footer__links {
  margin-top: 100px;
  }
  
  .footer__copyrights p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  }
  
  .footer__copyrights {
  margin-top: 50px;
  }